@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,700;1,100;1,200&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  background-color: #1ABC9C;
}

.nav {
  background-color: #17A589;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px ;
  margin-top: 0px;
}

.nav-links {
  display: flex;
  width: 400px;
  justify-content: space-around;
 }
  
.nav-menu {
  list-style: none;
}

.nav-menu:hover {
  transform: scale(1.1);
}




.nav-item {
  box-shadow: 2px 3px 2px black;
  font-size: 18px;
  padding: 10px;
  text-decoration: none;
  color: #1DCAA8;
  background-color: #fff;
  border-radius: 30px;
  margin: 0 20px;
  font-weight: 400;
  font-weight: bold;
  transition: .5s;

}

.nav-item:hover {
  color: #7D3C98;
}


/*logo*/

.logoprincipal {
  margin-left: 60px;
  margin-top: 10px;
}

rect#monitor2 {
  animation: part_2 ease-in 5s  ;
  animation-iteration-count:1 ;
}

rect#pata2 {
  animation: part_3 ease-in 7s  ;
  animation-iteration-count:1 ;
}

rect#pata1 {
  animation: part_4 ease-in 9s  ;
  animation-iteration-count:1 ;
}

rect#cpu1 {
  animation: part_5 ease-in 9s  ;
  animation-iteration-count:1 ;
}

rect#cpu2 {
  animation: part_6 ease-in 13s  ;
  animation-iteration-count:1 ;
}

rect#cpu3 {
  animation: part_7 ease-in 13s  ;
  animation-iteration-count:1 ;
}

rect#cpu4 {
  animation: part_8 ease-in 13s  ;
  animation-iteration-count:1 ;
}

/*svg:hover {
  opacity: 0;
}*/


@keyframes part_2 {
  0% {
    transform: translate(0px,-200px);
    opacity:0;}
  30% {
    transform: translate(0px,-200px);
    opacity:0;}
  40% {
    transform: translate(0,0);
    opacity:1;}
  90% {
    transform: translate(0,0);
    opacity:1;}

   100% {
    transform:translate(0,0);
    opacity:1;}
}  

@keyframes part_3 {
  0% {
    transform: translate(10px,200px);
    opacity:0;}
  30% {
    transform: translate(10px,200px);
    opacity:0;}
  40% {
    transform: translate(0,0);
    opacity:1;}
  90% {
    transform: translate(0,0);
    opacity:1;}

   100% {
    transform:translate(0,0);
    opacity:1;}
}  

@keyframes part_4 {
  0% {
    transform: translate(0,-10px);
    opacity:0;}
  30% {
    transform: translate(0,-10px);
    opacity:0;}
  40% {
    transform: translate(0,0);
    opacity:1;}
  90% {
    transform: translate(0,0);
    opacity:1;}

   100% {
    transform:translate(0,0);
    opacity:1;}
}  

@keyframes part_5 {
  0% {
    transform: translate(0px,-200px);
    opacity:0;}
  30% {
    transform: translate(0px,-200px);
    opacity:0;}
  40% {
    transform: translate(0,0);
    opacity:1;}
  90% {
    transform: translate(0,0);
    opacity:1;}

   100% {
    transform:translate(0,0);
    opacity:1;}
}  

@keyframes part_6 {
  0% {
    transform: translate(0px,0);
    opacity:0;}
  30% {
    transform: translate(0px,0);
    opacity:0;}
  40% {
    transform: translate(0,0);
    opacity:1;}
  90% {
    transform: translate(0,0);
    opacity:1;}

   100% {
    transform:translate(0,0);
    opacity:1;}
}  

@keyframes part_7 {
  0% {
    transform: translate(0px,0);
    opacity:0;}
  30% {
    transform: translate(0px,0);
    opacity:0;}
  40% {
    transform: translate(0,0);
    opacity:1;}
  90% {
    transform: translate(0,0);
    opacity:1;}

   100% {
    transform:translate(0,0);
    opacity:1;}
}  

@keyframes part_8 {
  0% {
    transform: translate(0px,0);
    opacity:0;}
  30% {
    transform: translate(0px,0);
    opacity:0;}
  40% {
    transform: translate(0,0);
    opacity:1;}
  90% {
    transform: translate(0,0);
    opacity:1;}

   100% {
    transform:translate(0,0);
    opacity:1;}
}  





.logo{
  cursor: pointer;
  margin-left: 70px;
  display: flex;
  transition: all .3s;
}

/*.logoprincipal:hover {
transform: scale(1.2);
}*/

.imagen {
height: 75px;
margin: 10px;
transition: all .3s;
  }

.imagen:hover {
transform: scale(1.2);
}




.header {
  background: linear-gradient(rgba(0, 0, 0,.4), rgba(0, 0, 0,.4)), url(../imageen/fondo-proyecto.jpg) 50% 0 fixed;
  background-size: cover;
  min-height: 850px;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px 0px;

}

h1 {
  color: #fff;
  background-color: #606564 ;
  text-shadow: 1px 1px 2px black;

}


h2 {
  color: #fff;
  text-shadow: 3px 3px 3px #4E4E4E;
  font-size: 40px;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 30px;
  
  text-decoration-color: #d3d3d3;
}

.h1 {
  text-align: center;
}


.main-padre-historia {  
  margin: 100px 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
}





.img-historia {
  width: 30%;
}

.boton-opcion {
  padding: 10px;
  border-radius: 10px;
  background-color: #1DCAA8;
  box-shadow: 2px 3px 3px black;
  text-align: center;
  text-decoration: none;
  width: 40%;
  margin-bottom: 20px;
  font-size: 19px;
}

.boton-opcion:active {
  box-shadow: 0px 0px  darkgray;
  transform: translate(3px, 2px);
  color: white;
}

/*footer*/

footer {
  background-color: #AAAAA6;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  color: white;
}

.footer-izq {
  display: flex;
  justify-content: space-between;
  width: 300px;
  height: 60px;
}

.titulo-footer {
  font-size: 25px;
}





.main-padre-historia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}

.card-hist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 150px 70px;
  background: linear-gradient(to left,#1ABC9C ,#30076C 200%);
  margin-top: -20px;

}

.titulo1 {


  }





.texto-historia {
  width: 45%;
  border: 1px solid black;
  padding: 15px;
  box-shadow: 1px -1px 20px black;
  text-align: left;

}


/*video*/

.contenedorvideo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0px;
  margin-top: -50px;
  margin-bottom: 80px;
}

.barravideo {
  display: flex;
  background-color: #AAAAA6;
  border-radius: 100px;
  
  padding: 2px 350px;
  
  justify-content: space-between;
  /*box-shadow: 0px 0px 10px black;*/
  margin-top: 20px;
}

.botonera{
  display: flex;
  
  gap: 20px;
}

.contenedor {
  
  padding: 0px;
  width: 60%;
  margin-top: 50px;
}

#play {
  width: 30px;
  background-color: #AAAAA6;
  border: none;
  margin-left: -300px;
  
  
}

 #pause{
  width: 30px;
  background-color: #AAAAA6;
  border: none;
  margin-right: 300px;
}

#stop {
  width: 28px;
  background-color: #AAAAA6;
  border: none;
  margin-left: -250px;
}


.botonesvideo:active {
  
  transform: translate(3px, 2px);
}

#showtime{
  margin-right: -100px;
  margin-left: 130px;
  margin-top: 15px;
  font-size: 13px;
  font-family: Monserrat, sans-serif;
  color: white;


}


.titulovideo {
  font-size: 35px;
}


@media screen and (max-width: 700px) {
.nav{
  width: 
  }
.nav-item {
  margin-left: -10px;
  padding: 10px;
  font-size: 15px;
  }
.logoprincipal {
  margin-left: 5px;

}
.header {
  font-size: 18px;
  }

h2 {
  font-size: 25px;
  }  
.card-hist {
  flex-direction: column;
}

.barravideo{
  padding: 1px 180px;
}

#play{
  width: 25px;
  margin-left: -150px;
}
#pause{
  width: 25px;
}

#showtime{
  font-size: 12px;
  margin-left: 150px;
}

.contenedor{
  width: 80%;
}

.logo {
  margin-left: -20px;
  }

.titulo-footer {
  font-size: 10px;
  margin-left: 20px;
  }
.footer-izq {
  display: block;
  width: 150px;
  height: 30px;
 }
.descripcion-footer{
  font-size: 10px;
  margin-left: 50px;
 }
}